* {
    margin: 0;
    border: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    color: #fff;
}

body {
    background: #223341;
}

.simon {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 200px;
}

.simon-content {
    display: flex;
    flex-direction: row;
    /* background: rgba(255, 0, 0, 0.3); */
    width: 70%;
    justify-content: space-between;
    margin: auto;
}

.btn {
    margin: 100px 0;
    font-size: 20px;
    padding: 15px 20px;
    border-radius: 10px;
    background: #3e5e79;
}

.simon-content.input input {
    height: 50px;
    width: 70px;
    font-size: 32px;
    background: #3e5e79;
    border-color: #fff; border-radius: 10px;
    display: none;
}

::placeholder {
    color: #fff;
}

#invia {
    display: none;
}

.simon-bottom {
    display: none;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

.simon-bottom h1 {
    margin-bottom: 30px;
}

.visible {
    display: flex;
}
